<!doctype html>
<html>
<head>
  <title>A Game!</title>
</head>
<body>
    <form action="/madlib">
        A person's Name: <input type="text" name="person"><br>
        Pick a Color:<br>
        <input type="radio" name="color" value="blue">Blue<br>
        <input type="radio" name="color" value="red">Red<br>
        <input type="radio" name="color" value="purple">Purple<br>
        Type a Noun: <input type="text" name="noun"><br>
        Type an adjective: <input type="text" name="adjective"><br>
        <input type="submit">
    </form>
</body>
</html>